/* Global */
@font-face {
	font-family: CalSans;
	src: url('./public/font/CalSans-SemiBold.woff2') format('woff2'),
		url('./public/font/CalSans-SemiBold.woff') format('woff'),
		url('./public/font/CalSans-SemiBold.ttf') format('ttf');
}

:root {
	--color-background: #f6f6f6;
	--color-font: #242422;
	--color-white: #ffffff;
	--color-grey: #e9e9e9;
}

::-webkit-scrollbar {
	width: 0px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: CalSans, sans-serif;
}

.backWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -2%);
	width: 80px;
	height: 80px;
	border: dashed 2px black;
	border-radius: 50%;
	z-index: 999999999;
	cursor: url('../public/pointer.png'), pointer;
}

.backArrow {
	background-image: url('./public/images/goback.png');
	background-size: cover;
	width: 50px;
	height: 50px;
}

/* Index */
.indexContainer {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	cursor: url('./public/cursor.png'), auto;
	transition: cursor 3s ease-in-out;
	transition-delay: 1s;
}

.indexWrapper {
	display: flex;
	flex-flow: column nowrap;
	gap: 30px;
}

.indexLink {
	cursor: url('./public/pointer.png'), pointer;
	font-size: 35px;
	text-decoration: none;
	color: var(--color-font);
	position: relative;
	text-align: end;
}

.indexIcon {
	background-image: url('./public/images/link.png');
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	right: -22%;
	transform: translate(-50%, -50%);
	display: flex;
}
