@import url('../styles.css');

body {
	cursor: url('../public/cursor.png'), pointer;
}

.switchesContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	background-color: var(--color-background);
}

/* Switches */
.switchWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	width: 90%;
	gap: 60px;
}

.switchText {
	font-size: 60px;
	letter-spacing: 10px;
	width: 300px;
	text-align: end;
}

.switchButton {
	position: relative;
	height: 100px;
	width: 250px;
	background-color: var(--color-grey);
	border-radius: 100px;
	transition: all ease 0.5s;
	cursor: url('../public/pointer.png'), pointer;
}

.switchButton .switchIcon {
	position: absolute;
	height: 100px;
	width: 100px;
	font-size: 55px;
	top: 50%;
	left: 0px;
	color: var(--color-grey);
	transform: translateY(-50%);
	background-color: var(--color-white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	transition: all ease 0.5s;
}

.switchButton.active .switchIcon {
	left: calc(100% - 100px - 0px);
}

/* Cheap */
.cheap.active {
	background: #cacf85;
}
.cheap.active .switchIcon {
	color: #cacf85;
}

/* Fast */
.fast.active {
	background: #8cba80;
}
.fast.active .switchIcon {
	color: #8cba80;
}

/* Nice */
.nice.active {
	background: #658e9c;
}
.nice.active .switchIcon {
	color: #658e9c;
}

/* Media query */
@media (max-width: 700px) and (max-height: 900px) {
	.switchWrapper {
		height: 200px;
		gap: 30px;
	}

	.switchText {
		font-size: 35px;
		letter-spacing: 2px;
	}

	.switchButton {
		height: 60px;
		width: 165px;
	}

	.switchButton .switchIcon {
		height: 70px;
		width: 70px;
		font-size: 40px;
		left: 10px;
	}

	.switchButton.active .switchIcon {
		left: calc(100% - 70px - 10px);
	}
}
