#Parallax {
  width: 100vw;
  overflow: hidden;
  height: 300rem;
  position: relative;

  .ParallaxText {
    color: $white;
    font-size: 1rem;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 7;
  }

  .ParallaxWindow {
    background-image: url('/assets/parallax/mobile_w.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    @include responsive(lg) {
      background-image: url('/assets/parallax/desktop_w.png');
    }
  }

  .ParallaxBackground {
    background-image: url('/assets/parallax/mobile_b.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    @include responsive(lg) {
      background-image: url('/assets/parallax/desktop_b.png');
    }
  }
}
